<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/larger.css">
<body>
    <div id="container">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>
        <main>
            <%- body %>
        </main>
        
        <%- include('../partials/footer') %>
    </div>    
</body>
</html>