<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { %>
        <h1>Delete Vehicle</h1>
        <% } %>

            <%- messages() %>

                <% if (errors) { %>
                    <ul class="notice">
                        <% errors.array().forEach(error=> { %>
                            <li>
                                <%= error.msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>

                        <div class="form-container">
                            <form id="deleteForm" action="/inv/delete/<%= locals.inv_id %>" method="post"
                                class="login-form">
                                <label for="classificationList">Classification</label>
                                <%- classificationList %>

                                    <label for="inv_make">Make</label>
                                    <input type="text" name="inv_make" id="inv_make" required
                                        placeholder="Min of 3 characters" value="<%= locals.inv_make %>" readonly>

                                    <label for="inv_model">Model</label>
                                    <input type="text" name="inv_model" id="inv_model" required
                                        placeholder="Min of 3 characters" value="<%= locals.inv_model %>" readonly>

                                    <label for="inv_price">Price</label>
                                    <input type="number" name="inv_price" id="inv_price" required
                                        placeholder="Decimal or Integer" value="<%= locals.inv_price %>" readonly>

                                    <label for="inv_year">Year</label>
                                    <input type="number" name="inv_year" id="inv_year" required
                                        placeholder="4-digit year" value="<%= locals.inv_year %>" readonly>

                                    <button type="submit" name="submit" value="Delete Vehicle">Delete Vehicle</button>
                                    <input type="hidden" name="inv_id" <% if (locals.inv_id) { %> value="<%=
                                        locals.inv_id %>"
                                        <% } %>>
                                            <p>Confirm Deletion - The delete is permanent.</p>
                            </form>
                        </div>